.card-container {
  display: flex ;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #8386ce7c;
  border-radius: 10px;
  box-shadow: 10px 10px 15px #000000;
  margin: 1rem;
  padding: .5rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  width: 300px;
    height: 400px;
  position: relative;
  justify-content: space-around;
}

.card-container:hover {
  transform: translateY(-5px);
}

.card-container:visited {
  color: inherit;
}

.container-rating{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card-rating {
  color: #fff;
  text-shadow: 0px 0px 5px #000000;
  font-size: 1.3rem;
}
.icono-card{
  max-width: 3rem;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem;
}

.image {
  max-height: 180px;
  max-width: 280px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 8px #000000;
}
.card-tittle {
  box-sizing: border-box;
  text-align: center;
  font-size: .8rem;
  font-family: "playstation";
  color: #ffffff;
  text-shadow: 3px 3px 5px #000000;
}


.card-platform {
  color: #000;
  text-shadow: 0px 0px 5px #ffffff;
  font-size: 1rem;
}
.card-genre {
  color: #000000;
  text-shadow: 0px 0px 5px #ffffff;
  font-size: 1rem;
}

@media screen and (max-width: 667px) {
  .card-tittle{
    font-size: .7rem;
    color: #000000;
    text-shadow: 0px 0px 5px #ffffff;
  }
  .card-genre{
    font-size: .8rem;
    color: #ffffff;
    text-shadow: 0px 0px 5px #000000;
  }
  .card-platform{
    font-size: .8rem;
    color: #ffffff;
    text-shadow: 0px 0px 5px #000000;
  }
  .card-rating{
    font-size: .8rem;
  }
  .icono-card{
    max-width: 2rem
  }
}
