 .search-container{
    margin-right: 5rem;
 }
 .search-container input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: .8rem;
  }
  
  .search-container button {
    padding: 0.3rem 0.5rem;
    margin: 0 0.3rem;
    background-color:  rgb(179, 43, 43);
    border: none;
    border-radius: 0.2rem;
    color: #fff;
    font-size: .8rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: "playstation";
  }
  .search-container button:hover{
    background-color: rgb(211, 91, 91);
  }
  
  
  @media screen and (max-width: 667px) {
    .search-container{
      margin-right: 0px;
   }
   .search-container input[type="text"] {
    padding: 2px;
    font-size: 10px;
  }
  .search-container button {
    font-size: .6rem;
  }
  }